@{
	ViewBag.Title = "Index";
}

	<h2>Index</h2>

	<div id="header">
		<h1>
			ASP.NET MVC MUSIC STORE
		</h1>
		<ul id="navlist">
			<li class="first"><a href="/" id="current">Home</a></li>
			<li><a href="/Store/">Store</a></li>
		</ul>
	</div>

	<div>
		<p>Content Body</p>
		<h2>Browse by Genre</h2>
	</div>

	@section Scripts {
		<script src="~/Scripts/Apps/MusicScripts.js"></script>
		<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
		<script src="~/Scripts/Apps/EnrollmentScripts.js"></script>
	}
