@model FinalProject.Models.FindEvent

@{
	ViewBag.Title = "Index";
}

<img src="~/Images/Compass.png" />
<h2>Find an event near you!</h2>
<input id="EventTextBox" placeholder="Event or Event Type" type="text" /><input id="AreaTextBox" placeholder="Location, City, or State" type="text" />
<input id="SearchButton" type="button" value="Search" />
<br />
