@model IEnumerable<MVCMusicStore.Models.Album>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="header">
	<h1>
		ASP.NET MVC MUSIC STORE
	</h1>
	<ul id="navlist">
		<li class="first"><a href="/" id="current">Home</a></li>
		<li><a href="/Store/">Store</a></li>
	</ul>
</div>

<div>
	<p>Content Body</p>
	<h2>Here are the list of albums</h2>
</div>

<ul>
	@foreach (var album in Model)
	{
	<li><a href="/Store/Browse?album=@album.Title">@album.Title</a>
	@Html.ActionLink(" Link", "Details", "Store", 4, null)</li>
	}
</ul>

<p><a href="/Store/Browse">Back to Browse</a></p>
