@model FinalProject.Models.CreateEventType

@{
    ViewBag.Title = "Index";
}

<h2>Create</h2>
<p>Event Type</p>
<hr />

<p>Type</p>

<input id="Type" type="text" />

<input id="NewEvent" type="button" value="Create" />

<a href="/OrganizeEvent/Index"><p>Back to Organizing an event!</p></a>
