@{
    ViewBag.Title = "Home Page";
}

	<div class="jumbotron">
		<h1>Event Unlimited</h1>
		<p class="lead">Find events near you. Never miss out again!</p>
	</div>

<div class="row">
	<div class="col-md-4">
		<img src="~/Images/Unlimited.png" class="Logo" />
		<p class="FindEvent">Find an Event</p>
		<input id="EventTextBox" placeholder="Event or Event Type" type="text" /><input id="AreaTextBox" placeholder="Location, City, or State" type="text" />
		<input id="SearchButton" type="button" value="Search" />
		<br /><br />
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<input id="DealsButton" type="button" value="Click here to see Last Minute Deals!" />
	</div>
</div>

<link href="~/Content/Site.css" rel="stylesheet" />